body{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif
}
header{
    height: 100px;
    background-color: black;
    color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 5px white;
}

#contenedorContenido{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 110px - 66px);
}

#contenedor{
    background-color: black;
}
#contenido{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 80%;
    background-color: black;
    margin: 50px auto;
    color: beige;
    padding: 20px;
    gap: 10px;
    border: solid 1px yellowgreen;
}

#BtnCalcular{
    width: 100px;
    align-self: center;
}

#BtnCalcular:hover{
    background-color: yellowgreen;
    color: rgb(0, 0, 0);
}

#pie{
    height: 60px;
    background-color: rgb(0, 0, 0);
    display: flex ;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: solid white;
    color: bisque;

}

